@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;800&display=swap");

/*==================== VARIABLES CSS ====================*/
:root {
  /*========== Colors ==========*/
  --cor-branca: white;
  --cor-cinza: rgba(153, 153, 153, 1);
  --cor-verde: #89c219;
  --cor-preto: black;
  --cor-luz-acessa: rgb(151, 228, 10);
  --cor-operadores: #a5a1a1;
  --cor-operadores-hover: #323330;
  --cor-limpar-ecran: rgb(255, 0, 0);
  --cor-limpar-digito: rgb(255, 115, 0);

  font-family: "Open Sans", sans-serif;
}

.fundoClaro {
  background-color: var(--cor-branca);
}

.fundoEscuro {
  background-color: var(--cor-preto);
}

.robotEyeColorLight {
  background-color: var(--cor-branca);
}

.robotEyeColorDark {
  background-color: var(--cor-luz-acessa);
  box-shadow: 0px 0px 43px 17px var(--cor-luz-acessa);
}

.robotEyeLeft {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  left: 36%;
  top: 17%;
}

.robotEyeRight {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  left: 182%;
  top: 7%;
}

h1 {
  text-align: center;
}

.container {
  max-width: 420px;
  margin: 10vh auto 0 auto;
  border: 1px solid var(--cor-preto);
  border-radius: 0.5rem;
  margin: 1rem;
}

.outterContainer {
  padding: 0.5rem;
  border: 1px solid var(--cor-preto);
  border-radius: 1rem;
  max-width: 450px;
  margin: 10vh auto 0 auto;
  box-shadow: 0px 0px 43px 17px var(--cor-cinza);
}

.toggle {
  padding-left: 14.5rem;
}

.logo {
  padding: 1rem;
  padding-bottom: 0;
  font-size: large;
  font-weight: bold;
}

.displayOff {
  border-radius: 0.5rem 0.5rem 0 0;
  background-color: rgb(200, 220, 221);
  line-height: 70px;
  text-align: right;
}

.displayOn {
  border-radius: 0.5rem 0.5rem 0 0;
  background-color: var(--cor-luz-acessa);
  box-shadow: 0px 0px 43px 17px var(--cor-luz-acessa);
  line-height: 70px;
  text-align: right;
}

.display1 {
  border-radius: 1rem;
  height: 15px;
  font-size: 15px;
  text-overflow: ellipsis;
}

.display2 {
  height: 70px;
  line-height: 70px;
  padding: 16px 8px;
  font-size: 25px;
  width: 392px;
  overflow: hidden;
}

.layout {
  width: 100%;
}

.button {
  border: 1px solid var(--cor-cinza);
  border-radius: 7px;
  width: 100px;
  height: 100px;
  text-align: center;
  font-size: 25px;
  cursor: pointer;
}
.operatores {
  background-color: var(--cor-operadores);
}

#equal {
  background-color: var(--cor-verde);
}

#clearAll {
  background-color: var(--cor-limpar-ecran);
}

#clear {
  background-color: var(--cor-limpar-digito);
}

.button:hover {
  background-color: var(--cor-operadores-hover);
  color: var(--cor-branca);
  transition: 0.5s ease-in-out;
}

.numbers:hover {
  background-color: var(--cor-verde);
  text-shadow: 1px 1px var(--cor-cinza);
  color: var(--cor-branca);
  transition: 0.5s ease-in-out;
}
